<!-- 
    Eu vou colocar ngIf=”animais$”, observable de animais, 
    e aqui eu vou usar esse comando pipe async(| async). O que esse pipe 
    async faz? Ele vai fazer o subscribe e atribuir isso a uma variável, 
    que variável? Eu vou vir aqui e colocar um 'as animais'. 
    Ele vai atribuir o que está dentro do observable nessa variável animais
-->


<!-- atualização de como receber a lista de animais, agr recebe pelo resolver que fica na rota de animais
    <div *ngIf="animais$ | async as animais">
    <app-grade-foto-animais [animais]="animais"></app-grade-foto-animais>
</div> -->


<app-grade-foto-animais [animais]="animais"></app-grade-foto-animais>
