<p>o Karma, ele é um executor de testes, um test runner criado pela própria equipe do Angular, lá desde a época do Angular.js</p>
<p>O que esse cara faz? O mais importante agora para entendermos aqui o Karma é que ele é o agnóstico de framework de testes, você pode usar o Karma com Jasmines, você pode usar o Karma com Mocha, QUnit, ele vai rodar o seu teste independente da tecnologia de teste que você está utilizando do framework.</p>
<p>Por padrão o Angular CLI, ele vem com o Jasmine, nada te impede de no futuro você queira trocar o Jasmine por um outro framework, mas eu vou usar tudo que já vem pronto do Angular, ou seja, vou escrever mais testes em Jasmine, vou executar meus testes em Jasmine</p>

<p>“karma.conf.js” é a configuração do Karma</p>
<p> o Karma já vem configurado por padrão para usar Jasmine</p>

<p>para executar os testes => npm run test</p>