<header class="sticky-top">
    <nav class="cabecalho">
        <a class="cabelho__usuario">
            <i class="fa fa-bars" (click)="menu.abrirMenu()" (keyup)="menu.abrirMenu()"></i>
            Usuario
        </a>

        <app-menu #menu>
            <ul class="list-unstyled">
                <li>
                    <a [routerLink]="['acessibilidade']">Acessibilidade</a>
                </li>
                <li>
                    <a [routerLink]="['acessibilidade2']">Acessibilidade2</a>
                </li>
                <li>
                    <a [routerLink]="['animais/novo']">Novo Animal</a>
                </li>
                <li>
                    <a [routerLink]="['home']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['jasmine-karma']">Jasmine Karma -> testes automatizados 1</a>
                </li>
            </ul>
        </app-menu>

        <div *ngIf="user$ | async as user">
            <div *ngIf="user.name; else login">
                <i class="fa fa-user-circle"></i>
                <a> {{ user.name }} </a>
                <a (click)="logout()">Logout</a>
            </div>
        </div>
    </nav>

    <ng-template #login>
        <span>
            <a [routerLink]="['']">Login</a>
        </span>
    </ng-template>
    
</header>
