<!--
    Para auxiliar na decodificação do JWT -> npm i jwt-decode

    Mas uma dica, nunca pegue versão ímpar do Node, você tem a 10.21, se você quiser pegar uma mais nova, você vai pegar a 12, se você quiser pegar uma mais nova que a 12, você vai pegar a 14 e se tiver uma mais nova que a 14 você vai pegar a 16, não pegue versões ímpares porque isso pode causar problema porque essas versões não são LTS
-->

<app-cabecalho></app-cabecalho>
<router-outlet></router-outlet>
<app-rodape></app-rodape>

